<template>
  <div class="rounded-md p-3">
    <div class="flex flex-col space-y-10">
      <h1 class="text-4xl fond-bold">Turnos No Asignados</h1>
      <UnassignedTurnsTable class="table" />
      <h1 class="text-4xl fond-bold">Turnos Asignados</h1>
      <AssignedTurnsTable class="table" :dates="dates" />
    </div>
  </div>
</template>

<script>
import UnassignedTurnsTable from '@/components/UnassignedTurnsTable';
import AssignedTurnsTable from '@/components/AssignedTurnsTable';

export default {
  name: 'Calendar',

  data() {
    return {
      dates: [
        {
          day: '2021-04-19',
        },
        {
          day: '2021-04-20',
        },
        {
          day: '2021-04-21',
        },
        {
          day: '2021-04-22',
        },
        {
          day: '2021-04-23',
        },
        {
          day: '2021-04-24',
        },
        {
          day: '2021-04-25',
        },
        {
          day: '2021-04-26',
        },
        {
          day: '2021-04-27',
        },
        {
          day: '2021-04-28',
        },
        {
          day: '2021-04-29',
        },
        {
          day: '2021-04-30',
        },
      ],
    };
  },

  components: {
    UnassignedTurnsTable,
    AssignedTurnsTable,
  },
};
</script>

<style scoped>
.table {
  margin-top: 20px;
}
</style>
