<template>
  <div>
    <h1 class="text-3xl text-indigo-500">{{ title }}</h1>
    <ul class="list-inside m-5">
      <li class="text-blue-400" v-for="(l, i) in list" :key="i">
        <router-link :to="l.link">{{ l.text }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',

  data() {
    return {
      title: 'Vista Principal',
      list: [
        {
          link: '/users',
          text: 'Ver Usuarios',
        },
        {
          link: '/locations',
          text: 'Ver Sucursales',
        },
        {
          link: '/turnTemplates',
          text: 'Ver Plantilla de Turnos',
        },
        {
          link: '/calendar',
          text: 'Ver Calendario',
        },
      ],
    };
  },
};
</script>
