<template>
  <div>
    <h1 class="text-2xl text-purple-600">{{ title }}</h1>
    <LocationsTable v-if="!isLoading" :locations="locations" />
  </div>
</template>

<script>
import LocationsTable from '@/components/LocationsTable';

export default {
  name: 'Locations',

  components: { LocationsTable },

  data() {
    return {
      title: 'Sucursales',
      locations: [],
      isLoading: false,
    };
  },

  async created() {
    try {
      this.isLoading = true;
      const response = await fetch('http://localhost:3004/locations');
      const locations = await response.json();
      this.locations = locations;
      this.isLoading = false;
    } catch (error) {
      console.log(error.message);
      this.isLoading = false;
    }
  },
};
</script>
