<template>
  <div>
    <h1 class="text-2xl text-purple-600">{{ title }}</h1>
    <TurnTemplatesTable v-if="!isLoading" :turnTemplates="turnTemplates" />
  </div>
</template>

<script>
import TurnTemplatesTable from '@/components/TurnTemplatesTable';

export default {
  name: 'TurnTemplates',

  components: { TurnTemplatesTable },

  data() {
    return {
      title: 'Plantilla de turnos',
      turnTemplates: [],
      isLoading: false,
    };
  },

  async created() {
    try {
      this.isLoading = true;
      const response = await fetch('http://localhost:3004/turnTemplates');
      const turnTemplates = await response.json();

      this.turnTemplates = turnTemplates;

      this.isLoading = false;
    } catch (error) {
      console.log(error.message);
      this.isLoading = false;
    }
  },
};
</script>
