<template>
  <div>
    <h1 class="text-2xl text-purple-600">{{ title }}</h1>
    <button @click="addUser" class="bg-blue-500 m-2 p-3 rounded-lg text-white">
      Añadir Usuario
    </button>
    <UsersTable
      v-if="!isLoading"
      :users="users"
      @deleteUser="deleteUser"
      @updateUser="updateUser"
    />
    <Modal v-if="openModal" :open="openModal" @close="closeModal" />
    <AlertMessage v-show="openAlert" @confirmDelete="confirmDelete" />
  </div>
</template>

<script>
import UsersTable from '@/components/UsersTable';
import Modal from '@/components/Modal';
import AlertMessage from '@/components/AlertMessage';

export default {
  name: 'Users',

  components: { UsersTable, Modal, AlertMessage },

  data() {
    return {
      title: 'Vista de Usuarios',
      users: [],
      isLoading: false,
      openModal: false,
      openAlert: false,
      isModalEditOpen: false,
    };
  },

  async created() {
    try {
      this.isLoading = true;
      const response = await fetch('http://localhost:3004/users');
      const users = await response.json();
      this.users = users;

      this.$store.commit('setUser', this.users);

      this.isLoading = false;
    } catch (error) {
      console.log(error.message);
    }
  },

  methods: {
    addUser() {
      this.openModal = true;
    },
    closeModal() {
      this.openModal = false;
    },
    deleteUser() {
      this.openAlert = true;
    },
    updateUser() {
      this.users = this.$store.state.userList;
    },
    confirmDelete(value) {
      if (value === 'accept') {
        this.users = this.$store.state.userList;
        this.openAlert = false;
      }
      if (value === 'cancel') {
        this.openAlert = false;
      }
    },
  },
};
</script>
