<template>
  <div class="modal">
    <section class="modal__container alert">
      <h1 class="title">
        Estás seguro de borrar al usuario
        {{ this.$store.state.userNameToDelete }}
      </h1>
      <button @click="accept" class="btn accept">Aceptar</button>
      <button @click="cancel" class="btn cancel">Cancelar</button>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Alert',

  methods: {
    accept() {
      const id = this.$store.state.id;
      this.$emit('confirmDelete', 'accept');
      this.$store.commit('deleteUser', { userId: id, confirm: true });
    },
    cancel() {
      this.$emit('confirmDelete', 'cancel');
    },
  },
};
</script>

<style scoped>
.alert {
  width: 250px;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.title {
  grid-column: 1 / 3;
}
.accept {
  background: #dd4139;
}
</style>
