<template>
  <div v-if="!isLoading">
    <table class="table-auto border-2 border-blue-500 border-separate">
      <thead>
        <tr>
          <th class="bg-blue-200">Turnos Asignados</th>
          <th class="bg-blue-200" v-for="(date, i) in dates" :key="i">
            {{ date.day }}
          </th>
        </tr>
      </thead>
      <tbody v-if="hasData">
        <tr class="bg-blue-100" v-for="(n, i) in names" :key="i">
          <th>{{ n }}</th>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
          <td class="text">{{ n | user }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'AssignedTurnsTable',

  props: {
    dates: { required: true },
  },

  data() {
    return {
      isLoading: false,
      templateIds: [],
      names: [],
      turns: [],
      templates: [],
      turnTemplates: [],
      userIds: [],
    };
  },

  async created() {
    try {
      this.isLoading = true;
      const resTurns = await fetch('http://localhost:3004/turns?userId!');

      const turnsAssigned = await resTurns.json();

      this.turns = turnsAssigned;

      const userIds = this.turns.map(({ userId }) => userId[0]);
      const templateId = this.turns.map(({ turnTemplateId }) => turnTemplateId);

      const templateIdFilter = templateId.filter((template) => {
        if (template !== null || template !== undefined) {
          return template;
        }
      });

      const uniqueId = userIds.filter(
        (id, position, ids) => position === ids.indexOf(id)
      );

      this.userIds = uniqueId;
      this.templateIds = templateIdFilter;

      this.userIds.forEach((id) => {
        this.getUserById(id);
      });

      this.isLoading = false;
    } catch (error) {
      console.log(error.message);
    }
    this.isLoading = false;
  },

  computed: {
    hasData() {
      const turns = this.turns.length === 0;
      return `${turns}`;
    },
  },

  methods: {
    async getUserById(id) {
      const resUser = await fetch(`http://localhost:3004/users?id=${id}`);
      const user = await resUser.json();
      const name = user[0].firstName;
      if (name !== 'Tamara') this.names.push(name);
    },
  },
};
</script>

<style scoped>
.title {
  font-size: 30px;
}
.text {
  text-align: center;
  font-size: 10.5px;
}
</style>
