<template>
  <table class="table-auto border-2 border-blue-500 border-separate">
    <thead>
      <tr class="bg-blue-100">
        <th>Nombre de Sucursal</th>
        <th>Horario</th>
        <th>Dirección Completa</th>
        <th>N° de Usuarios</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-blue-100 text-center"
        v-for="location in locations"
        :key="location.id"
      >
        <td>{{ location.name }}</td>
        <td>{{ location.startTime }} {{ location.endTime }}</td>
        <td>
          {{ location.address1 }} {{ location.address2 }} {{ location.comuna }}
          {{ location.region }}
        </td>
        <td>{{ location.id }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'LocationsTable',

  props: {
    locations: {
      required: true,
      type: Array,
    },
  },
};
</script>
