<template>
  <div>
    <section v-show="open" class="modal" id="modal">
      <div class="modal__container">
        <h1>Crear Usuario</h1>
        <i @click="closeModal('cancelado')" class="icon">X</i>
        <form class="modal__form" autocomplete="on">
          <label class="modal__label">
            Nombre
            <br />
            <input class="modal__input" type="text" name="firstName" required />
          </label>
          <label class="modal__label">
            Apellido
            <br />
            <input class="modal__input" type="text" name="lastName" required />
          </label>
          <label class="modal__label"
            >Id
            <br />
            <input class="modal__input" type="number" name="id" required />
          </label>
          <label class="modal__label">
            Fecha de Nacimiento
            <br />
            <input
              class="modal__input"
              type="date"
              name="dateOfBirth"
              required
            />
          </label>
          <label class="modal__label">
            Email
            <br />
            <input class="modal__input" type="text" name="email" required />
          </label>
          <label class="modal__label">
            Contract
            <br />
            <input
              class="modal__input"
              type="number"
              name="contract"
              required
            />
          </label>
          <label class="modal__label">
            Employee ID
            <br />
            <input
              class="modal__input"
              type="text"
              name="employeeId"
              required
            />
          </label>
          <div class="btn__container">
            <button
              type="button"
              class="btn"
              @click.prevent="closeModal('guardado')"
            >
              Guardar
            </button>
            <button
              @click="closeModal('cancelado')"
              type="button"
              class="btn warning"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </section>
    <div class="modal" v-show="isOpen">
      <section
        class="modal__container msg"
        :class="{ cancel: msg === 'cancelado' ? true : false }"
      >
        {{ msg }}
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',

  props: {
    open: {
      type: Boolean,
    },
  },

  data() {
    return {
      msg: '',
      isOpen: false,
      close: true,
    };
  },

  methods: {
    closeModal(msg) {
      if (open) {
        const modal = document.getElementById('modal');
        modal.classList.add('close__modal');
      }
      if (msg === 'guardado') {
        this.addUser();
      }
      this.isOpen = true;
      this.msg = msg;
      setTimeout(() => {
        this.isOpen = false;
        this.$emit('close');
      }, 1500);
    },
    addUser() {
      const data = {};
      const firstName = document.querySelector('input[name="firstName"]');
      const lastName = document.querySelector('input[name="lastName"]');
      const id = document.querySelector('input[name="id"]');
      const dateOfBirth = document.querySelector('input[name="dateOfBirth"]');
      const email = document.querySelector('input[name="email"]');
      const contract = document.querySelector('input[name="contract"]');
      const employeeId = document.querySelector('input[name="employeeId"]');
      data.firstName = firstName.value;
      data.lastName = lastName.value;
      data.id = id.value;
      data.dateOfBirth = dateOfBirth.value;
      data.email = email.value;
      data.contract = contract.value;
      data.employeeId = employeeId.value;
      this.$store.commit('addUser', data);
    },
  },
};
</script>

<style>
.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal__container {
  width: 600px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10% auto;
  position: relative;
  animation: up 1s ease-in-out;
}
.msg {
  width: 200px;
  height: 100px;
  margin: 20% auto;
  font-size: 20px;
  text-transform: uppercase;
}
.msg.cancel {
  background-color: #dd4139;
  color: white;
}
.close__modal {
  display: none;
}
.modal h1 {
  font-size: 20px;
}
.modal__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.modal__input {
  border: 2px solid black;
  color: black;
}
.btn {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid white;
}
.warning {
  color: #dd4139;
  border: 2px solid #dd4139;
  outline: 2px solid #dd4139;
}
.btn__container {
  display: flex;
}
.icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #dd4139;
  font-size: 30px;
  cursor: pointer;
}

@keyframes up {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
</style>
