<template>
  <div>
    <section v-show="open" class="modal" id="modal">
      <div class="modal__container">
        <h1>Editar Usuario</h1>
        <i @click="closeModal('cancelado')" class="icon">X</i>
        <form class="modal__form" autocomplete="on">
          <label class="modal__label">
            Nombre
            <br />
            <input
              class="modal__input"
              type="text"
              name="firstName"
              :value="this.$store.state.data.firstName"
              required
            />
          </label>
          <label class="modal__label">
            Apellido
            <br />
            <input
              class="modal__input"
              type="text"
              name="lastName"
              :value="this.$store.state.data.lastName"
              required
            />
          </label>
          <label class="modal__label"
            >Id
            <br />
            <input
              class="modal__input"
              type="number"
              name="id"
              :value="this.$store.state.data.id"
              required
            />
          </label>
          <label class="modal__label">
            Fecha de Nacimiento
            <br />
            <input
              class="modal__input"
              type="text"
              name="dateOfBirth"
              :value="this.$store.state.data.dateOfBirth"
              required
            />
          </label>
          <label class="modal__label">
            Email
            <br />
            <input
              class="modal__input"
              type="text"
              name="email"
              :value="this.$store.state.data.email"
              required
            />
          </label>
          <label class="modal__label">
            Contract
            <br />
            <input
              class="modal__input"
              type="number"
              name="contract"
              :value="this.$store.state.data.contract"
              required
            />
          </label>
          <label class="modal__label">
            Employee ID
            <br />
            <input
              class="modal__input"
              type="text"
              name="employeeId"
              :value="this.$store.state.data.employeeId"
              required
            />
          </label>
          <div class="btn__container">
            <button
              type="submit"
              class="btn"
              @click.prevent="closeModal('actualizado')"
            >
              Guardar
            </button>
            <button
              @click="closeModal('cancelado')"
              type="button"
              class="btn warning"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </section>
    <div class="modal" v-show="isOpen">
      <section
        class="modal__container msg"
        :class="{ cancel: msg === 'cancelado' ? true : false }"
      >
        {{ msg }}
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',

  props: {
    open: {
      type: Boolean,
    },
  },

  data() {
    return {
      msg: '',
      isOpen: false,
      close: true,
    };
  },

  methods: {
    closeModal(msg) {
      if (open) {
        const modal = document.getElementById('modal');
        modal.classList.add('close__modal');
      }
      if (msg === 'actualizado') {
        this.updateUser();
      }
      this.isOpen = true;
      this.msg = msg;
      setTimeout(() => {
        this.isOpen = false;
        this.$emit('close');
      }, 1500);
    },
    updateUser() {
      const data = {};
      const firstName = document.querySelector('input[name="firstName"]');
      const lastName = document.querySelector('input[name="lastName"]');
      const id = document.querySelector('input[name="id"]');
      const dateOfBirth = document.querySelector('input[name="dateOfBirth"]');
      const email = document.querySelector('input[name="email"]');
      const contract = document.querySelector('input[name="contract"]');
      const employeeId = document.querySelector('input[name="employeeId"]');
      data.firstName = firstName.value;
      data.lastName = lastName.value;
      data.id = id.value;
      data.dateOfBirth = dateOfBirth.value;
      data.email = email.value;
      data.contract = contract.value;
      data.employeeId = employeeId.value;
      this.$store.commit('updateUser', { userProp: data, confirm: true });
    },
  },
};
</script>
