<template>
  <div
    id="nav"
    class="sticky flex items-center p-3 space-x-3 bg-blue-500 w-full h-14 text-white"
  >
    <router-link to="/">Home</router-link>
    <router-link to="/users">User</router-link>
    <router-link to="/locations">Locations</router-link>
    <router-link to="/turnTemplates">TurnTemplates</router-link>
    <router-link to="/calendar">Calendar</router-link>
  </div>
</template>

<script>
export default {};
</script>
