<template>
  <table class="table-auto border-2 border-blue-500 border-separate">
    <thead>
      <tr>
        <th class="bg-blue-200">Nombre</th>
        <th class="bg-blue-200">Hora de Entrada</th>
        <th class="bg-blue-200">Hora de Salida</th>
        <th class="bg-blue-200">Descanso</th>
        <th class="bg-blue-200">Horas Trabajadas</th>
        <th class="bg-blue-200">Cargo Asociado</th>
        <th class="bg-blue-200">Sucursales Asociadas</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-blue-100 text-center"
        v-for="turnTemplate in turnTemplates"
        :key="turnTemplate.id"
      >
        <td>{{ turnTemplate.name }}</td>
        <td>{{ turnTemplate.checkIn }}</td>
        <td>{{ turnTemplate.checkOut }}</td>
        <td>{{ turnTemplate.breakTime }} min</td>
        <td>
          {{
            Number(turnTemplate.checkOut.slice(0, 2)) -
            Number(turnTemplate.checkIn.slice(0, 2))
          }}
          h
        </td>
        <td>
          {{
            turnTemplate.positionId
              ? turnTemplate.positionId
              : turnTemplate.position | position
          }}
        </td>
        <td>
          {{
            turnTemplate.locationId
              ? turnTemplate.locationId
              : turnTemplate.locations | template
          }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'turnTemplatesTable',

  props: {
    turnTemplates: {
      required: true,
      type: Array,
    },
  },
};
</script>
