<template>
  <table
    v-if="!isLoading"
    class="table-auto border-2 border-blue-500 border-separate"
  >
    <thead>
      <tr>
        <th class="bg-blue-200" v-for="(u, i) in unassigned" :key="i">
          {{ u.date }}
        </th>
      </tr>
      <th class="bg-blue-100">undefined</th>
      <th class="bg-blue-100" v-for="(t, i) in templateData" :key="i">
        {{ t[0].name }} <br />
        ({{ t[1].start }} - {{ t[2].end }})
      </th>
    </thead>
  </table>
</template>

<script>
export default {
  name: 'UnassignedTurnsTable',

  data() {
    return {
      isLoading: false,
      unassigned: [],
      templateData: [],
    };
  },

  async created() {
    try {
      this.isLoading = true;
      const resUnassigned = await fetch('http://localhost:3004/turns?userId');

      const unassigned = await resUnassigned.json();

      const unassignedFilter = unassigned.filter((u) => {
        if (u.turnTemplateId === null) {
          u.turnTemplateId = undefined;
          return u;
        }
        return u;
      });

      this.unassigned = unassignedFilter;

      unassignedFilter.forEach((u) => {
        if (u.turnTemplateId) {
          this.getTemplateById(u.turnTemplateId);
        }
      });

      this.isLoading = false;
    } catch (error) {
      console.log(error.message);
    }
    this.isLoading = false;
  },

  methods: {
    async getTemplateById(id) {
      const res = await fetch(`http://localhost:3004/turnTemplates?id=${id}`);
      const template = await res.json();
      const name = template[0].name;
      const start = template[0].checkIn;
      const end = template[0].checkOut;
      this.templateData.push([{ name: name }, { start: start }, { end: end }]);
    },
  },
};
</script>

<style scoped>
.title {
  font-size: 30px;
}
</style>
