<template>
  <table class="table-auto border-2 border-blue-500 border-separate">
    <thead>
      <tr class="bg-blue-200">
        <th>Nombre completo</th>
        <th>Cargo</th>
        <th>Sucursales</th>
        <th>Horas/Semana</th>
        <th>EmployeeId</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-blue-100 text-center" v-for="user in users" :key="user.id">
        <template v-if="user !== undefined">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td v-if="user.positionId">{{ user.positionId[0] | position }}</td>
          <td v-else>undefined</td>
          <td v-if="user.locationId">{{ user.locationId[0] | location }}</td>
          <td v-else>undefined</td>
          <td>{{ user.contract | contract }}</td>
          <td>{{ user.employeeId }}</td>
          <td>
            <button
              @click="updateUser(user)"
              class="bg-blue-500 m-2 p-3 rounded-lg text-white"
            >
              Editar
            </button>
            <button
              @click="deleteUser(user.id)"
              class="bg-red-600 m-2 p-3 rounded-lg text-white"
            >
              Borrar
            </button>
          </td>
        </template>
      </tr>
    </tbody>
    <ModalEdit v-if="openModal" :open="openModal" @close="closeModal" />
  </table>
</template>

<script>
import ModalEdit from '@/components/ModalEdit';

export default {
  name: 'UsersTable',

  components: { ModalEdit },

  props: {
    users: {
      required: true,
    },
  },

  data() {
    return {
      openModal: false,
    };
  },

  methods: {
    deleteUser(id) {
      this.$store.commit('deleteUser', { userId: id, confirm: false });
      this.$emit('deleteUser', 'delete');
    },
    updateUser(user) {
      this.$store.commit('updateUser', { userProp: user, confirm: false });
      this.$emit('updateUser');
      this.openModal = true;
    },
    closeModal() {
      this.openModal = false;
    },
  },
};
</script>
