<template>
  <div id="app">
    <NavBar />
    <router-view class="m-10" />
  </div>
</template>

<script>
import NavBar from './components/NavBar.vue';
export default {
  components: {
    NavBar,
  },
};
</script>
